.section_1{
  padding: 34px 0 30px 0;

  .container{
    overflow: hidden;
    padding: 0 15px 81px;
    .button_slide{
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 290px;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      transform: translate(-50%, 0px)rotate(0deg);
      z-index: 2;
      button{
        width: 50px;
        height: 49px;
        background-color: #f6f6f6;
        &.prew{
          right: 0;
          transform: translate(-11px,0px) rotate(180deg);
          top: 0;
          left: auto;
          i{
            &:before{
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%)rotate(180deg);
              position: absolute;
            }
          }
        }
        &.next{
          bottom: 0;
          left: 0;
          transform: translate(11px,0px);
          right: auto;
          i{
            &:before{
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%)rotate(180deg);
              position: absolute;
            }
          }
        }
        .icon-next{

        }
        i{
          &:before{
            color: #0660b3;
          }
        }
      }
    }
    .bottom{
      overflow: hidden;
      p{
        overflow: hidden;
        margin: 0 0 23px 0;
        color: #181818;
        font-family: "Gotham Pro";
        font-size: 16px;
        font-weight: 400;
        strong{
          font-family: 'GothamPro-Medium';
          font-weight: 500;
          font-size: 16px;
          color: #181818;
        }
      }
      ul{
        overflow: hidden;
        li{
          color: #181818;
          font-family: "Gotham Pro";
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
  .scroll{
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    .text{
      margin: 0 auto 0;
      display: block;
      padding: 0  0 0 16px;
      position: relative;
      width: 1200px;


      table{
        margin: 0 0 48px 0;
        thead{
          border: 2px solid #ffffff;
          background-color: #db1515;
          tr{
            th{
              &:nth-child(1){
                padding: 45px 10px 45px 11px;
              }
              &:nth-child(2){
                padding: 21px 10px 21px 11px;
              }
              &:nth-child(3){
                padding: 45px 10px 45px 11px;
              }

              p{
                color: #ffffff;
                font-family: "Gotham Pro";
                font-size: 18px;
                font-weight: 500;
              }
            }
            &:nth-child(2){
              th{
                &:nth-child(1){
                  padding: 8px 2px 8px 2px;
                }
                &:nth-child(2){
                  padding: 8px 2px 8px 2px;
                }
              }
            }
          }
        }
        tbody{
          tr{
            td{
              padding: 20px;
              a{
                color: #0660b3;
                font-family: "Gotham Pro";
                font-size: 16px;
                font-weight: 400;
                text-decoration: underline;
              }
              p{
                color: #181818;
                font-family: "Gotham Pro";
                font-size: 16px;
                font-weight: 400;
              }
            }
          }
        }
      }

    }
  }
}
@media (min-width: 1280px) {
  .section_1{

    padding: 155px 0 80px;

    .container{
      padding: 0;
       .button_slide{
            display: none;

      }
    }
    .scroll{
      overflow: hidden;
    }
  }
}