.section_1{
  padding: 25px 0 60px 0;
  .container{
    .news_container{
      margin: 60px 0 0 0;
      padding: 0 0 55px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .slide{
        position: relative;
        max-width: 400px;
        margin: 0 auto 75px;
        .date{
          position: absolute;
          left: -33px;
          transform: rotate(-90deg);
          top: 27px;
          color: #181818;
          font-family: "Gotham Pro";
          font-size: 12px;
          font-weight: 400;
          span{
            position: absolute;
            bottom: -34px;
            left: -56px;
            width: 1px;
            height: 80px;
            background-color: #db1515;
            transform: rotate(90deg);
          }
        }
        .img{
          width: 269px;
          height: 170px;
          margin: 0 0 20px 20px;
        }
        .text{
          h5{
            color: #000000;
            font-family: "Gotham Pro";
            font-size: 18px;
            font-weight: 700;
            text-align: center;
          }
          p{
            color: #000000;
            font-family: "Gotham Pro";
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            padding: 17px 23px 27px 19px;
          }
          .btn_slide{
            padding: 25px 15px 19px 15px;
          }
        }

      }
    }
    .pagination{
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      li{
        .page_next{
          position: relative;
          cursor: pointer;
          &:hover{

            i{
              transition: 0.5s;
              &:before{
                color: #db1515;
                transition: 0.5s;
              }
            }
          }
          i{
            position: absolute;
            right: 0;

            &:before{
              color: #727272;
              transition: 0.5s;
              transform: translate(16px, 1px)rotate(0deg);
              font-size: 12px;
            }
          }

        }
        .page_prew{
          position: relative;
          cursor: pointer;
          &:hover{

            i{
              transition: 0.5s;
              &:before{
                color: #db1515;
                transition: 0.5s;
              }
            }
          }
          i{
            position: absolute;
            left: 0;
            &:before{
              color: #727272;
              transform: translate(-16px, 1px)rotate(180deg);
              font-size: 12px;

            }
          }
        }
        a{
          color: #181818;
          font-family: "Gotham Pro";
          font-size: 16px;
          font-weight: 700;
          padding: 2px 6px 3px 6px;
          &.active{
            font-family: "Gotham Pro";
            font-size: 16px;
            font-weight: 700;
            color: #ffffff;
            width: 30px;
            height: 30px;
            background-color: #181818;
            border-radius: 50%;
          }

        }
      }
    }
  }
}


@media (min-width: 1280px){
  .section_1{
    padding: 155px 0 40px ;
    position: relative;
    .container{
      .news_container{
        .slide{
          padding: 0 0 0 8px;
          .img{
            width: 336px;
            height: 220px;
            margin: 0 0 15px 20px;
          }
          .date{
            top: 32px;
            left: -18px;
          }
          .text{
            padding: 0 30px 0 19px;
            h5{
              text-align: left;
            }
            p{
              padding: 17px 0 26px 0;
            }
            .btn_slide{
              width: 208px;
              height: 58px;
              padding: 20px 15px 19px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1800px){
  .section_1{
    padding: 155px 0 101px;
    position: relative;
    .container{
      .news_container{
        .slide{
          padding: 0 0 0 26px;


          .img{
            width: 336px;
            height: 220px;
            margin: 0 0 15px 20px;
          }
          .date{
            top: 32px;
            left: -18px;
          }
          .text{
            padding: 0 30px 0 19px;
            h5{
              text-align: left;
            }
            p{
              padding: 17px 0 26px 0;
            }
            .btn_slide{
              width: 208px;
              height: 58px;
              padding: 20px 15px 19px;
            }
          }
        }
      }
    }
  }
}