.section_1{
  padding: 22px 0 70px;
  .container{

    .partners_list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .partners{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto 60px;
        max-width: 290px;
        padding: 0 0 10px 0;
        img{
          width: 290px;
          height: 387px;
        }
        .text{
          position: relative;
          margin: 24px 0 0 0;
          &:before{
            font-family: 'fontello';
            font-size: 94px;
            position: absolute;
            z-index: -1;
            top: 40px;
            left: 0;
            content: '\e801';
            color: #dedede;
          }
          h5{
            color: #181818;
            font-family: "Gotham Pro";
            font-size: 22px;
            letter-spacing: 0.48px;
            strong{
              color: #181818;
              font-family: "Gotham Pro";

              font-size: 24px;
              letter-spacing: 0.67px;
            }
          }
          p{
            color: #181818;
            font-family: "Gotham Pro";
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            position: relative;
            padding: 21px 0 17px 35px;
            &:before{
              content: '';
              position: absolute;
              left: 0;
              background-image: url("../img/contacts.png");
              background-repeat: no-repeat;
              width: 23px;
              height: 25px;
            }
            span{
              color: #181818;
              font-family: "Gotham Pro";
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              display: block;
            }
          }
          .review{
            color: #181818;
            font-family: "Gotham Pro";
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            padding: 0 0 0 0;
            margin: 0 0 24px 0;
            &:before{
              display: none;
            }
          }
          span{
            color: #0660b3;
            font-family: "Gotham Pro";
            font-size: 16px;
            font-weight: 700;
            line-height: 12.48px;
          }
        }
      }

    }
    .pagination{
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      li{
        width: 24px;
        height: 24px;
        display: block;
        text-align: center;
        .page_next{
          position: relative;
          cursor: pointer;
          &:hover{

            i{
              transition: 0.5s;
              &:before{
                color: #db1515;
                transition: 0.5s;
              }
            }
          }
          i{
            position: absolute;
            right: 0;

            &:before{
              color: #727272;
              transition: 0.5s;
              transform: translate(16px, 1px)rotate(0deg);
              font-size: 12px;
            }
          }

        }
        .page_prew{
          position: relative;
          cursor: pointer;
          &:hover{

            i{
              transition: 0.5s;
              &:before{
                color: #db1515;
                transition: 0.5s;
              }
            }
          }
          i{
            position: absolute;
            left: 0;
            &:before{
              color: #727272;
              transform: translate(-16px, 1px)rotate(180deg);
              font-size: 12px;

            }
          }
        }
        a{
          color: #181818;
          font-family: "Gotham Pro";
          font-size: 16px;
          font-weight: 700;
          padding: 2px 6px 3px 6px;
          &.active{
            font-family: "Gotham Pro";
            font-size: 16px;
            font-weight: 700;
            color: #ffffff;
            display: block;
            background-color: #181818;
            border-radius: 50%;
            -o-border-radius:50%;
            -moz-border-radius:50%;
            -webkit-border-radius:50%;
          }

        }
      }
    }
  }
}
.section_10 {
  .container{

    .bottom{
      display: none;
    }
  }
}
@media (min-width: 1280px){
  .section_1{
    padding: 155px 0 100px;
    .container{

      .partners_list{
        .partners{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          margin: 0 auto 60px;
          max-width: 600px;
          padding: 0 0 10px 0;
          width: 50%;
          justify-content: space-between;
          img{
            width: 231px;
            height: 308px;
          }
          .text{
            position: relative;
            margin: 24px 0 0 0;
            width: 50%;
            p{
              color: #181818;
              font-family: "Gotham Pro";
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              position: relative;
              padding: 21px 0 17px 35px;
              &:before{
                content: '';
                position: absolute;
                left: 0;
                background-image: url("../img/contacts.png");
                background-repeat: no-repeat;
                width: 23px;
                height: 25px;
              }
              span{
                color: #181818;
                font-family: "Gotham Pro";
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                display: block;
              }
            }
            .review{
              color: #181818;
              font-family: "Gotham Pro";
              font-size: 16px;
              font-weight: 300;
              line-height: 24px;
              padding: 0 0 0 0;
              margin: 0 0 24px 0;
              &:before{
                display: none;
              }
            }
            span{
              color: #0660b3;
              font-family: "Gotham Pro";
              font-size: 16px;
              font-weight: 700;
              line-height: 12.48px;
            }
          }
        }

      }

    }
  }
  .section_10{
    padding: 50px 0 30px;
    &:before{
      height: 100%;
    }
    .container{
      .top{
        form{
          justify-content: space-between;
          .btn_form{
            margin: 25px 0 30px;
          }
        }
      }
    }
  }
}
@media (min-width: 1800px){
  .section_1{
   .container{
     .breadcrumbs{
       margin: 0 0 0 4px;
     }
     .chapter{

     }
     .partners_list{
       .partners{
         width: 50%;
         max-width: 600px;
         margin: 0 35px 70px 0;
         justify-content: flex-start;
         .text{
           margin: 0px 0 0px 33px;
           padding: 0 0px 0 0px;
           width: 53%;
           h5{
             font-size: 30px;
             line-height: 20px;
             strong{
               display: block;
               line-height: 47px;
               font-size: 29px;
             }
           }
           p{
             font-size: 14px;
             line-height: 18px;
             padding: 23px 10px 37px 37px;
           }
           .review{
             font-size: 18px;
             line-height: 29px;
             margin: 0 0 16px;
           }
           span{
             font-size: 18px;
           }
         }
       }
     }
   }
  }
  .section_10{
    padding: 163px 0 120px;
    .container{
      .top{
        h3{
          margin: 10px 0 11px 10px;
        }
        form{
          padding: 0px 84px 0 137px;
          .form_radio{
            width: 388px;
            padding: 0px 0 0 28px;
            margin: 30px 0 0 0px;
          }
        }
      }

    }
  }
}
