<footer class="footer anchor" id="anchor11">
      <div class="container">
          <div class="left_box">
              <a href="index.html" class="logo">
                  <img src="img/footer_logo.png">
              </a>
              <ul class="contact">
                  <li><a href="mailto:'info@autoleader1.ua'" class="mail"><i class="icon-mail"></i>info@autoleader1.ua</a></li>
                  <li><a href="tel:+7 (3012) 701-800" class="phone"><i class="icon-communications"></i>+7 (3012) 701-800</a></li>
              </ul>
              <div class="nav">
                  <ul class="soc">
                      <li><a href="#" class="inst"></a></li>
                      <li><a href="#" class="youtube"></a></li>
                  </ul>
                  <ul class="lang">
                      <li class="active"><a href="#">Рус</a></li>
                      <li>|</li>
                      <li><a href="#">Eng</a></li>
                  </ul>
              </div>
              <a href="#" class="linc">
                  Политика обработки персональных данных
              </a>
              <p>© 2020 г., ООО «Ti•GUAR »</p>
          </div>
          <div class="right_box">
              <p class="title">Остались вопросы?</p>
              <p>
                  Если у вас есть вопросы и пожелания по качеству продукции, пожалуйста заполните эту форму и мы с вами свяжемся
              </p>
              <form>
                  <div class="box">
                      <div class="input_box">
                          <input type="text" placeholder="Ваше имя*">
                      </div>
                      <div class="input_box">
                          <input type="text" placeholder="Название компании">
                      </div>
                      <div class="input_box">
                          <input type="tel" class="phone_mask" placeholder="Ваш телефон*">
                      </div>
                  </div>
                 <div class="box">
                     <div class="input_box">
                         <textarea placeholder="Текст сообщения"></textarea>
                     </div>
                     <button class="btn_form">Отправить</button>
                     <div class="form_radio radio1">
                         <input type="checkbox" id="radio_1" name="card">
                         <label for="radio_1"> Нажимая на кнопку, вы даете согласие на обработку своих
                             персональных данных и соглашаетесь с <a href="javascript:void(0)" class="open-confidentiality">Политикой Конфиденциальности</a></label>
                     </div>
                 </div>
              </form>
          </div>
      </div>
</footer>