<header class="header">
        <a href="index.html" class="logo">
            <img src="img/logo.png">
        </a>
       <div class="mobile">
           <a href="index.html" class="logo_mob">
               <img src="img/logo.png">
           </a>
          <div class="container">
              <ul class="contact">
                  <li><a href="tel:+7 (3012) 701-800" class="phone open-call"><i class="icon-phone"></i></a></li>
                  <li><a href="#" class="open-registration"><i class="icon-social"></i></a></li>
              </ul>
              <div class="menu">
                  <i class="icon-open-menu"></i>
              </div>
          </div>
           <div class="sub_menu">
               <i class="icon-close"></i>
               <ul>
                   <li><a href="brand.html">О бренде</a></li>
                   <li><a href="partners.html">Стать партнером</a></li>
                   <li><a href="produkt.html">Продукция</a></li>
                   <li><a href="guarantee.html">Гарантийная политика</a></li>
                   <li><a href="news.html">Новости</a></li>
                   <li><a href="faq.html">FAQ</a></li>
                   <li><a href="contackt.html">Контакты</a></li>
               </ul>
               <ul class="soc">
                   <li><a href="mailto:'info@autoleader1.ua'" class="mail"><i class="icon-mail"></i>info@autoleader1.ua</a></li>
                   <li><a href="tel:+7 (3012) 701-800" class="phone"><i class="icon-communications"></i>+7 (3012) 701-800</a></li>
               </ul>
           </div>
       </div>
       <div class="dasctop_banner">
           <div class="container">
               <nav>
                   <ul class="soc">
                       <li><a href="mailto:'info@autoleader1.ua'" class="mail"><i class="icon-mail"></i>info@autoleader1.ua</a></li>
                       <li><a href="tel:+7 (3012) 701-800" class="phone"><i class="icon-communications"></i>+7 (3012) 701-800</a></li>
                   </ul>
                   <ul class="btn_box">
                       <li><a href="#" class="open-call"><i class="icon-communications"></i>Обратный звонок</a></li>
                       <li><a href="#" class="open-registration"><i class="icon-social"></i>Личный кабинет</a></li>
                   </ul>
               </nav>
           </div>
       </div>
       <div class="dasctop">
           <div class="container">
               <ul class="menu">
                   <li><a href="brand.html">О бренде  </a></li>
                   <li><a href="#">Стать партнером </a></li>
                   <li><a href="produkt.html">Продукция</a></li>
                   <li><a href="guarantee.html">Гарантийная политика</a></li>
                   <li><a href="news.html">Новости</a></li>
                   <li><a href="faq.html">FAQ </a></li>
                   <li><a href="contackt.html">Контакты</a></li>
               </ul>
               <ul class="contact">
                   <li><a href="tel:+7 (3012) 701-800" class="phone"><i class="icon-communications"></i>+7 (3012) 701-800</a></li>
                   <li><a href="#"><i class="icon-phone"></i></a></li>
                   <li><a href="#"><i class="icon-social"></i></a></li>
               </ul>
           </div>
       </div>
      <ul class="leng_fix">
        <li><a class="active" href="#">Рус</a></li>
        <li><span>|</span></li>
        <li><a href="#">Eng</a></li>
    </ul>
</header>