<section class="section_10 ">
    <div class="container">
        <div class="top">
            <p class="title">Заполни заявку, чтобы</p>
            <h3>Стать партнером</h3>
            <form>
                <div class="input_box">
                    <label>Ваше имя*</label>
                    <input type="text">
                </div>
                <div class="input_box">
                    <label>Название компании</label>
                    <input type="text">
                </div>
                <div class="input_box">
                    <label>Ваш телефон*</label>
                    <input type="tel" class="phone_mask">
                </div>
                <div class="input_box">
                    <label>Ваша почта*</label>
                    <input type="text">
                </div>
                <button class="btn_form">Отправить</button>
                <div class="form_radio radio1">
                    <input type="checkbox" id="radio_1" name="card">
                    <label for="radio_1"> Нажимая на кнопку, вы даете согласие на обработку своих
                        персональных данных и соглашаетесь с <a href="javascript:void(0)" class="open-confidentiality">Политикой Конфиденциальности</a></label>
                </div>
            </form>

        </div>

        <div class="bottom">
            <p class="title">Контакты</p>
            <h3>Наши точки продаж</h3>
            <p class="fix">Создан для<span>суровых дорог России</span></p>
            <div class="box">
                <div class="map_filter" >
                    <div class="filter">
                        <a class="filter-open_map" href="javascript:void(0)"><span><b>Дилеры</b> <i class="icon-next"></i></span></a>
                        <ul id="pp_offers_list_1" class="pp_offers_list_1">
                            <li class="tab-button activ"><a href="#item-11">Дилеры</a></li>
                            <li class="tab-button "><a href="#item-12" >Сертифицированные СТО</a></li>
                            <li class="tab-button"><a href="#item-13" >Сертифицированные магазины автозапчастей</a></li>
                        </ul>
                    </div>
                </div>
                <div class="map_content">
                    <div class="tab-content activ" data-id="item-11">
                        <div class="map">
                            <div class="main-addresses__item_1" data-coord="[50.44936227, 30.50295237 ]"></div>
                            <div class="main-addresses__item_1" data-coord="[50.44760855, 30.51187877]"></div>
                            <div class="main-addresses__item_4" data-coord="[50.44059299, 30.52149180]"></div>
                            <div id="myMap" style="width: 100%; height: 468px"></div>
                        </div>
                    </div>
                    <div class="tab-content" data-id="item-12">
                        <div class="map">

                            <div class="main-addresses__item_2" data-coord="[50.44015449, 30.50913218]"></div>


                            <div id="myMap2" style="width: 100%; height: 468px"></div>
                        </div>
                    </div>
                    <div class="tab-content" data-id="item-13">
                        <div class="map">

                            <div class="main-addresses__item_3" data-coord="[50.43620774, 30.52286509]"></div>

                            <div id="myMap3" style="width: 100%; height: 468px"></div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
    </div>
</section>