<div class="overlay-registration registrationPopup animated ">
    <div class="close"></div>
    <div class="registration__popup ">
        <span class="close-popup"></span>
        <div class="content">
            <h3>Вход</h3>
            <p>
                Укажите ваш номер телефона и пароль для
                входа в личный кабинет
            </p>
           <form>
               <div class="input_box">
                   <input  placeholder="Ваш телефон"  class="phone_mask">
               </div>
               <div class="input_box">
                   <input  placeholder="Введите пароль" >
               </div>
               <a href="#" class="btn_red closeBtn">войти</a>
           </form>
        </div>
    </div>
</div>

<div class="overlay-call callPopup animated ">
    <div class="close"></div>
    <div class="call__popup ">
        <span class="close-popup"></span>
        <div class="content">
            <h3>Введите данные для
                заказа обратного звонка</h3>
            <form>
                <div class="input_box">
                    <input  placeholder="Введите имя" >
                </div>
                <div class="input_box">
                    <input  placeholder="Ваш телефон" class="phone_mask">
                </div>
                <a href="#" class="btn_red closeBtn">отправить</a>
            </form>
            <span class="valid">
                Благодарим за заявку! Наш менежер свяжется с вами в ближайшее время
            </span>
        </div>
    </div>
</div>

<div class="overlay-video videoPopup animated ">
    <div class="close"></div>
    <div class="video__popup ">
        <span class="close-popup"></span>
        <div class="content">
            <!--<video width="100%" height="auto" preload="auto" autoplay="autoplay" loop="loop">-->
                <!--<source src="img/popup_vi.mp4" type="video/mp4">-->
            <!--</video>-->
        </div>
    </div>
</div>