
<section class="section_8">
    <div class="container">
        <p class="title">Наши партнеры</p>
        <h3>Нас рекомендуют</h3>
        <a href="#" class="linc_2">Все партнеры</a>
        <div class="box">
            <div class="partners_filter" >
                <div class="filter">
                    <a class="filter-open" href="javascript:void(0)"><span><b>Автосервис XDrive</b> <i class="icon-next"></i></span></a>
                    <ul id="pp_offers_list" class="pp_offers_list ">
                        <li class="tabs-button active"><a href="#item-1">Автосервис XDrive</a></li>
                        <li class="tabs-button "><a href="#item-2" >Автосервис ФартАвто</a></li>
                        <li class="tabs-button"><a href="#item-3" >Автотехцентр Аватар</a></li>
                        <li class="tabs-button"><a href="#item-4">Автотехцентр CROWN</a></li>
                        <li class="tabs-button"><a href="#item-5">Автосервис Авто Запрос</a></li>
                        <li class="tabs-button"><a href="#item-6">Автосервис Базис Авто</a></li>

                        <li class="tabs-button"><a href="#item-7">Автотехцентр Аватар</a></li>
                        <li class="tabs-button"><a href="#item-8">Автотехцентр CROWN</a></li>
                        <li class="tabs-button"><a href="#item-9">Автосервис Авто Запрос</a></li>
                        <li class="tabs-button"><a href="#item-10">Автосервис Базис Авто</a></li>
                    </ul>
                </div>
                <div class="button_slide">
                    <button data-factor="-1" class="next"><i class="icon-arrow"></i></button>
                    <button data-factor="1" class="prew"><i class="icon-arrow"></i></button>

                </div>
            </div>
            <div class="partners_content">
                <div class="tabs-content active" data-id="item-1">
                    <img src="img/photo.png">
                    <div class="text">
                        <h4>Автосервис XDrive</h4>
                        <span>Красноярск</span>
                        <p>
                            Широчайший ассортимент автозапчастей. Продукция представлена на все популярные марки и модели авто.
                        </p>
                        <a href="#" class="linc">Мы рекомендуем</a>
                    </div>
                </div>
                <div class="tabs-content" data-id="item-2">
                    <img src="img/photo.png">
                    <div class="text">
                        <h4>Автосервис ФартАвто</h4>
                        <span>Красноярск</span>
                        <p>
                            Широчайший ассортимент автозапчастей. Продукция представлена на все популярные марки и модели авто.
                        </p>
                        <a href="#" class="linc">Мы рекомендуем</a>
                    </div>
                </div>
                <div class="tabs-content" data-id="item-3">
                    <img src="img/photo.png">
                    <div class="text">
                        <h4>Автотехцентр Аватар</h4>
                        <span>Красноярск</span>
                        <p>
                            Широчайший ассортимент автозапчастей. Продукция представлена на все популярные марки и модели авто.
                        </p>
                        <a href="#" class="linc">Мы рекомендуем</a>
                    </div>
                </div>
                <div class="tabs-content" data-id="item-4">
                    <img src="img/photo.png">
                    <div class="text">
                        <h4>Автотехцентр CROWN</h4>
                        <span>Красноярск</span>
                        <p>
                            Широчайший ассортимент автозапчастей. Продукция представлена на все популярные марки и модели авто.
                        </p>
                        <a href="#" class="linc">Мы рекомендуем</a>
                    </div>
                </div>
                <div class="tabs-content" data-id="item-5">
                    <img src="img/photo.png">
                    <div class="text">
                        <h4>Автосервис Авто Запрос</h4>
                        <span>Красноярск</span>
                        <p>
                            Широчайший ассортимент автозапчастей. Продукция представлена на все популярные марки и модели авто.
                        </p>
                        <a href="#" class="linc">Мы рекомендуем</a>
                    </div>
                </div>
                <div class="tabs-content" data-id="item-6">
                    <img src="img/photo.png">
                    <div class="text">
                        <h4>Автосервис Базис Авто</h4>
                        <span>Красноярск</span>
                        <p>
                            Широчайший ассортимент автозапчастей. Продукция представлена на все популярные марки и модели авто.
                        </p>
                        <a href="#" class="linc">Мы рекомендуем</a>
                    </div>
                </div>
                <div class="tabs-content" data-id="item-7">
                    <img src="img/photo.png">
                    <div class="text">
                        <h4>Автосервис ФартАвто</h4>
                        <span>Красноярск</span>
                        <p>
                            Широчайший ассортимент автозапчастей. Продукция представлена на все популярные марки и модели авто.
                        </p>
                        <a href="#" class="linc">Мы рекомендуем</a>
                    </div>
                </div>
                <div class="tabs-content" data-id="item-8">
                    <img src="img/photo.png">
                    <div class="text">
                        <h4>Автосервис ФартАвто</h4>
                        <span>Красноярск</span>
                        <p>
                            Широчайший ассортимент автозапчастей. Продукция представлена на все популярные марки и модели авто.
                        </p>
                        <a href="#" class="linc">Мы рекомендуем</a>
                    </div>
                </div>
                <div class="tabs-content" data-id="item-9">
                    <img src="img/photo.png">
                    <div class="text">
                        <h4>Автосервис ФартАвто</h4>
                        <span>Красноярск</span>
                        <p>
                            Широчайший ассортимент автозапчастей. Продукция представлена на все популярные марки и модели авто.
                        </p>
                        <a href="#" class="linc">Мы рекомендуем</a>
                    </div>
                </div>
                <div class="tabs-content" data-id="item-10">
                    <img src="img/photo.png">
                    <div class="text">
                        <h4>Автосервис ФартАвто</h4>
                        <span>Красноярск</span>
                        <p>
                            Широчайший ассортимент автозапчастей. Продукция представлена на все популярные марки и модели авто.
                        </p>
                        <a href="#" class="linc">Мы рекомендуем</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="bottom">
        <div class="container">
            <p>
                Автоматизированное производство
                <strong>и безусловная гарантия</strong>
            </p>
            <a href="#" class="btn_red">Стать партнером</a>
        </div>
    </div>
</section>
